<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Your ticket number <%= @ticket.id %> has been resolved!</h1>
    <p>Check your askIT&copy account for answers.</p>
  </body>
</html>