<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
        <h1>Features</h1>
        <hr>
        <div class="post-preview">
            <h2 class="post-title">
                <i class="fa fa-ticket float-center" ></i> Ticketing Helpdesk
            </h2>
            <h3 class="post-subtitle">
              
            </h3>
          </a>
          <p class="post-meta">askIT&copy is simple to use and understand ticketing helpdesk</p>
        </div>

        <div class="post-preview">
            <h2 class="post-title">
                <i class="fa fa-support float-center" ></i> Support Portal
            </h2>
            <h3 class="post-subtitle">
              
            </h3>
          </a>
          <p class="post-meta">The support portal gives advanced tools to help customers resolve their problems</p>
        </div>
        <div>
        	<%= link_to('Create Account', new_user_registration_path, class: 'btn btn-primary')%>
        	<%= link_to 'Create Ticket', new_ticket_path, class: "btn btn-light" %> 
        	<%= link_to('View All Tickets', alltickets_path, class: 'btn btn-primary')%>
        </div>
<!--       <div class="clearfix">
        <a class="btn btn-primary float-right" href="#">TOP</a>
      </div>
 -->    </div>
  </div>
</div>
<div class="container">

  <div class="row mt-5">
    <div class="col-lg-8 col-md-10 mx-auto">
        <h1>Testing</h1>
        <hr>
        <div class="post-preview">
            <h2 class="post-title">
                <i class="fa fa-user float-center" ></i> Support User
            </h2>
            <h3 class="post-subtitle">
              
            </h3>
          </a>
          <p class="post-meta">Login Information - email: support@askit.com | password: guess1234 </p>
        </div>

        <div class="post-preview">
            <h2 class="post-title">
                <i class="fa fa-user float-center" ></i> Client User
            </h2>
            <h3 class="post-subtitle">
              
            </h3>
          </a>
          <p class="post-meta">Create new account - have fun testing our website</p>
        </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row ">
    <div class="col-lg-8 col-md-10 mx-auto">
        <h1>Note</h1>
        <hr>
        <div class="post-preview">
            <h2 class="post-title">
                <i class="fa fa-user float-center" ></i> 
            </h2>
            <h3 class="post-subtitle"> Code repository
              
            </h3>
          </a>
          <p class="post-meta">We use github as our code repostiory</p>
        </div>

        <div class="post-preview">
            <h2 class="post-title">
                <i class="fa fa-user float-center" ></i> Readme file
            </h2>
            <h3 class="post-subtitle">
              
            </h3>
          </a>
          <p class="post-meta">You can find our repostiory and readme file at this link: <a href="https://github.com/JoshAlen/askit-team2" target="_blank">Readme.md</a></p>
        </div>
      <div class="clearfix">
        <a class="btn btn-light float-right" href="#">TOP</a>
      </div>
    </div>
  </div>
</div>



